<div class="container about">
  <h1>Задача</h1>
  <p><strong>1. Разработать "Список сотрудников" приложение должно уметь:</strong></p>
  <ul class="about">
    <li>Создать сотрудника</li>
    <li>Изменить сотрудника</li>
    <li>Удалить сотрудника</li>
    <li>Получить список всех сотрудников</li>
  </ul>
  <br>
  <p><strong>2. Разработать "Список проектов в котором участвуют сотрудники" приложение должно уметь:</strong></p>
  <ul>
    <li>Создать проект</li>
    <li>Добавить сотрудника к проекту</li>
    <li>Поменять сотрудника в проекте</li>
    <li>Удалить сотрудника с проекта</li>
    <li>Получить список проектов</li>
    <li>Редактировать имя проекта</li>
    <li>Удалить проект если нету внутри сотрудников, если прикреплен сотрудник к проекту, то выдать сообщение, что нельзя удалить</li>
  </ul>
</div>
